<div><%= flash[:notice] %></div>

<% if current_user %>
  <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
  <%= link_to '2fa settings', edit_two_factor_setting_path %>
<% else %>
  <%= link_to 'Sign up', new_user_registration_path %>
  <%= link_to 'Log in', new_user_session_path %>
<% end %>
